{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="text-center mt-5">Profile Edit</h2>
    <div class="col-12 col-md-8 mx-auto">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.profile_image.id_for_label }}" class="form-label">Profilbild</label>
                {% if form.instance.profile_image %}
                  <div class="mb-2">
                    <img src="{{ form.instance.profile_image.url }}" alt="Vorschau" style="max-height: 150px;">
                  </div>
                {% endif %}
                {{form.profile_image}}
              </div>
              <div class="mb-3">
                <label for="{{ form.cover_image.id_for_label }}" class="form-label">Titelbild</label>
                {% if form.instance.cover_image %}
                  <div class="mb-2">
                    <img src="{{ form.instance.cover_image.url }}" alt="Vorschau" style="max-height: 150px;">
                  </div>
                {% endif %}
                {{form.cover_image}}
              </div>
              <div class="mb-3">
                {{form.job_title}}
              </div>
              <div class="mb-3">
                {{form.biographie}}
              </div>
            <button class="btn btn-success btn-lg" type="submit">Speichern</button>
        </form>
    </div>
</div>
{% endblock content %}